<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Clientes</title>
  <link rel="stylesheet" type="text/css" href="styles.css">

</head>

<body>
  <h1 class="titulo">PEDIDOS YA</h1>
  <ul class="menu1">
    <form action="/cliente" method="get">
      <button type="submit" class="menues1">Vendedores</button>
    </form>
    <form action="/vendedor" method="get">
      <button type="submit" class="menues1">Clientes</button>
    </form>
    <form action="/vendedor" method="get">
      <button type="submit" class="menues1">Items Menú</button>
    </form>
    <form action="/vendedor" method="get">
      <button type="submit" class="menues1">Pedidos</button>
    </form>
    <form action="/" method="get">
      <button type="submit" class="menues1">Volver</button>
    </form>
  </ul>

  <form th:action="@{/cliente/buscarCliente}" th:object="${clienteDTO}" method="post" class="formulario">
    <div class="contenedorCampos">
      <div class="campoCliente">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" th:field="*{nombre}" />
      </div>
      <div class="campoCliente">
        <label for="cuit">Cuit</label>
        <input type="text" id="cuit" th:field="*{cuit}" />
      </div>
      <div class="campoCliente">
        <label for="email">Email</label>
        <input type="email" id="email" th:field="*{email}" />
      </div>
      <div class="campoCliente">
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" th:field="*{direccion}" />
      </div>
      <div class="campoCliente">
        <label for="latitud">Latitud</label>
        <input type="number" id="latitud" th:field="*{latitud}" />
      </div>
      <div class="campoCliente">
        <label for="longitud">Longitud</label>
        <input type="number" id="longitud" th:field="*{longitud}" />
      </div>
    </div>
    <div class="contenedorBotonesCliente">
      <button style="background: purple" class="botonesCliente" type="submit">Buscar Cliente</button>
    </div>
  </form>

  <form class="contenedorBotonesCliente" action="/cliente/nuevo" method="get">
    <button class="botonesCliente" type="submit">Crear Cliente</button>
  </form>

  <table class="tablaCliente" border="2" cellspacing="0" cellpadding="15">
    <thead class="tablaCliente">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cuit</th>
        <th>Email</th>
        <th>Dirección</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th width="300px">Editar/Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="cliente : ${clientes}">
        <td>
          <a th:href="@{/cliente/{id}(id=${cliente.id})}" th:text="${cliente.id}"></a>
        </td>
        <td th:text="${clienteDTO.nombre}"></td>
        <td th:text="${clienteDTO.cuit}"></td>
        <td th:text="${clienteDTO.email}"></td>
        <td th:text="${clienteDTO.direccion}"></td>
        <td th:text="${clienteDTO.latitud}"></td>
        <td th:text="${clienteDTO.longitud}"></td>
        <td class="contenedorBotonesEditarEliminar">
          <form th:action="@{/cliente/editarCliente/{id}(id=${vendedor.id})}" method="get">
            <button type="submit" class="botonesEditarCliente">Editar Vendedor</button>
          </form>
          <form th:action="@{/cliente/eliminarCliente/{id}(id=${cliente.id})}" method="get">
            <button type="submit" class="botonesEliminarCliente">Eliminar Cliente</button>
          </form>
        </td>
      </tr>
    </tbody>

  </table>
</body>

</html>
