<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Crear/Editar Cliente</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
  <h1 class="titulo">PEDIDOS YA</h1>
  <form th:action="@{/cliente/guardar}" th:object="${cliente}" method="post" class="formulario">
    <label class="labelVendedor99" for="crearCliente">Crear Cliente</label>
    <div class="contenedorCampos2">
      <div class="divsVendedor">
        <input type="hidden" name="id" th:value="${cliente.id}" />
        <label class="labelVendedor" for="nombre">Nombre</label>
        <input class="inputVendedor" type="text" id="nombre" th:field="*{nombre}" />
      </div>
      <div class="divsVendedor">
        <label class="labelVendedor" for="cuit">CUIT</label>
        <input class="inputVendedor" type="number" id="cuit" th:field="*{cuit}" />
      </div>
    </div>

    <div class="contenedorCampos2">
      <div class="divsVendedor">
        <label class="labelVendedor" for="email">Email</label>
        <input class="inputVendedor" type="text" id="email" th:field="*{email}" />
      </div>
      <div class="divsVendedor">
        <label class="labelVendedor" for="dir">Dirección</label>
        <input class="inputVendedor" type="text" id="dir" th:field="*{direccion}" />
      </div>
    </div>

    <label class="labelVendedor99" for="coordenada">Coordenada</label>
    <div class="contenedorCampos2">
      <div class="divsVendedor">
        <label class="labelVendedor" for="latitud">Latitud</label>
        <input class="inputVendedor" type="number" id="latitud" th:field="*{coordenada.lat}" />
      </div>
      <div class="divsVendedor">
        <label class="labelVendedor" for="latitud">Longitud</label>
        <input class="inputVendedor" type="number" id="longitud" th:field="*{coordenada.lng}" />
      </div>
    </div>

    <div class="contenedorBotonesVendedor">
      <button class="botonesVendedor" type="submit">Guardar Cliente</button>
    </div>
  </form>

  <form class="contenedorBotonesVendedor" action="/cliente" method="get">
    <button style="background: red" type="submit" class="botonesVendedor">Cancelar</button>
  </form>
</body>

</html>